*{
    margin:0;
    padding:0;
    color:white;
}

@font-face{
    font-family:"myfont";
    src:url("fonts/odstemplik/odstemplik.otf") format("opentype"),
    url("fonts/odstemplik/odstemplikBold.otf") format("opentype");
}

.top-img{
    background-image:url("imgs/gazyet.jpg");
    background-size:cover;
    background-attachment:fixed;
}

.top-text{
    text-align:center;
    padding:250px 0;
}

.top-text h1{
    font-size:100px;
    font-family:"myfont";
}

.btn-more{
    display:inline-block;
	position: relative;
	width: 160px;
	padding:10px 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #795548;
	transition-property:border-radius;
	transition-duration:1s;
}

.btn-more:hover{
    border-radius:50%;
    text-decoration: none;
	color: #fff;
}

nav h3{
    font-family:myfont;
}

nav .fas,nav .far{
    color:#888;
}

.night-sky{
    background-image:url("imgs/fix-bg.jpg");
    background-attachment:fixed;
    padding:200px 0;
    text-align:center;
}

.night-sky h2{
    font-size:80px;
    font-family:"myfont";
    margin-bottom:40px;
}

#feature p{
    font-size:25px;
    display: inline-block;
    text-align: left;
}

.carousel-item{
    height:500px;
}

.service-list{
    background-color:#333;
    padding:50px;
}

.service-list h2{
    text-align:center;
    font-family:"myfont";
    font-size:80px;
}

.service-img{
    width:100%;
}

.service-description{
    padding:30px;
}

.info{
    border:2px solid white;
    margin:20px;
    padding:20px;
}

.icon{
    font-size:100px;
}

footer{
    background-color:#333;
    padding:30px;
}

footer p{
    text-align:right;
}

footer ul li{
    list-style:none;
}

footer ul li a{
    color:#aaa;
    font-size:15px;
}

footer ul li a:hover{
    color:#fff;
    text-decoration:none;
}